@use "../common";

.port {
  .thumnailImg {
    width: 165px;
    margin: 3px;

    @media (max-width: common.$breakpoint-md) {
      width: 260px;
      margin: 10px;
    }

    @media (max-width: common.$breakpoint-sm) {
      width: 210px;
      margin: 7px;
    }
  }
}
